
<!-- Banner -->
<div id="banner">
	<h2>Hi. You're looking at <strong>Gaming</strong>.</h2>
	<span class="byline">
		un site de jeu video en tout genre ou vous pourrez trouver tout les reseignements sur le jeu qui vous plait</a>.
			</span>
</div>

<!-- Carousel -->
<div class="carousel">
	<div class="reel">

		<article>
			<a href="http://euw.leagueoflegends.com/fr" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
			<header>
				<h3><a href="http://euw.leagueoflegends.com/fr">League of Legend</a></h3>
			</header>
			<p>League of Legend: un jeu de divertissement entre amis</p>						
		</article>
	
		<article>
			<a href="http://mdomaradzki.deviantart.com/art/Disco-351602759" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Minecraft</a></h3>
			</header>
			<p>Minecraft : tu mines et tu craftes dans un monde infini</p>							
		</article>
	
		<article>
			<a href="http://mdomaradzki.deviantart.com/art/The-Patina-of-Time-and-Tide-352128094" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Dofus</a></h3>
			</header>
			<p>Dofus : MMORPG inoubliable et nostalgique</p>							
		</article>
	
		<article>
			<a href="http://mdomaradzki.deviantart.com/art/Cityparts-XVIII-350427779" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Diablo III</a></h3>
			</header>
			<p>Diablo III : RPG fantastique dans un univers d'enfer</p>							
		</article>
	
		<article>
			<a href="http://mdomaradzki.deviantart.com/art/Vine-Country-381350120" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Terraria</a></h3>
			</header>
			<p>Terraria : un monde ou votre imagination prend vie</p>							
		</article>

		<article>
			<a href="http://mdomaradzki.deviantart.com/art/Bueller-III-351975087" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
			<header>
				<h3><a href="#">The Witcher 3 "Wild Hunt"</a></h3>
			</header>
			<p>The Witcher 3 "Wild Hunt : RPG epoustouflant et incroyable</p>							
		</article>
	
		<article>
			<a href="http://mdomaradzki.deviantart.com/art/Disco-351602759" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
			<header>
				<h3><a href="#">Dark Soul III</a></h3>
			</header>
			<p>Dark Soul III : RPG tout simplement sublime et hardcore</p>							
		</article>
	
		
	
		

	</div>
</div>

<!-- Main -->
<div class="wrapper style2">

	<article id="main" class="container special">
		<a href="http://mdomaradzki.deviantart.com/art/Planet-Bronte-339258500" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
		<header>
			<h2><a href="#">Dark Soul III</h2>
			<span class="byline">
				Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim 
				pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
			</span>
		</header>
		<p>
			Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa 
			posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus 
			sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam 
			mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan 
			lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum 
			consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue 
			interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia 
			natoque aenean scelerisque.
		</p>
		<footer>
			<a href="#" class="button">Continue Reading</a>
		</footer>
	</article>

</div>

<!-- Features -->
<div class="wrapper style1">
	
	<section id="features" class="container special">
		<header>
			<h2>TOP des jeux sortis recemment</h2>
			<span class="byline">Dans cet article, nous allons vous presenter les derniers jeux sorties.</span>
		</header>
		<div class="row">
			<article class="4u special">
				<a href="http://mdomaradzki.deviantart.com/art/Bueller-VII-351975126" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
				<header>
					<h3><a href="#">Dark Soul III</a></h3>
				</header>
				<p>
					Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
					porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
				</p>
			</article>
			<article class="4u special">
				<a href="http://mdomaradzki.deviantart.com/art/Home-Bound-Train-II-338912191" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
				<header>
					<h3><a href="#">RATCHET et CLANK</a></h3>
				</header>
				<p>
					Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
					porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
				</p>
			</article>
			<article class="4u special">
				<a href="http://mdomaradzki.deviantart.com/art/Up-is-Down-325005102" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
				<header>
					<h3><a href="#">Naruto Shippuden Storm 4</a></h3>
				</header>
				<p>
					Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
					porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
				</p>
			</article>
		</div>
	</section>

</div>
